* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.heading {
  text-align: center;
}

.link {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link:hover {
  background-color: bisque;
  font-size: 110%;
}
